In [215]:
#New database connection
import pymongo
from pymongo import MongoClient
client = pymongo.MongoClient("mongodb+srv://alfred:1234@cluster0.ydwyn.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.Student 
table = db.Marksheet 
list1=[]
list2=[]
total=0 # 1. student name who scored maximum scores i
great=0
for x in table.find():
    y=x.get('scores')[0]
    z=x.get('scores')[1]
    s=x.get('scores')[2]
    total=float(str(y['score']))+float(str(z['score']))+float(str(s['score']))
    if total>great:
      great=total
#print(great) The Highest Mark by combining the 3 types of marks Obtained
for x in table.find():
    y=x.get('scores')[0]
    z=x.get('scores')[1]
    s=x.get('scores')[2]
    total=float(str(y['score']))+float(str(z['score']))+float(str(s['score']))
    if total==great:
      print(x.get("name"),"1st Rank") #Displays the the person with the Highest Score


# 2. Below Average Students
for x in table.find():
    y=x.get('scores')[0]
    z=x.get('scores')[1]
    s=x.get('scores')[2]
    total=float(str(y['score']))+float(str(z['score']))+float(str(s['score']))
    list1.append(total) 
j=table.count_documents({})# No. of Students
average=sum(list1)/j #Sum of students marks by no. of students
print("Average=",average)

for x in table.find():
  y=x.get('scores')[0]
  z=x.get('scores')[1]
  s=x.get('scores')[2]
  total=float(str(y['score']))+float(str(z['score']))+float(str(s['score']))
  if total<average:
    list2.append(x.get("name"))
print("Average Students List",list2)


# 3. Below pass mark as fail and above as pass
passmark=300*0.4 # 40% is pass mark.
print("Passmark=",passmark) 
for x in table.find():
  y=x.get('scores')[0]
  z=x.get('scores')[1]
  s=x.get('scores')[2]
  total=float(str(y['score']))+float(str(z['score']))+float(str(s['score']))
  if total<passmark:
    c={
        "Result":"FAIL"
        }
    query={"_id":x.get("_id"),
        "name":x.get("name")}
    table.update_one(query,{"$set":c})
  else:
    d={
       "Result":"PASS"
       }
    query={"_id":x.get("_id"),
        "name":x.get("name")}
    table.update_one(query,{"$set":d})

for x in table.find().limit(10): 
      print(x.get("Result"))


 # 4. total and average of the exam, quiz and homework
exam=0
quiz=0
home=0
for x in table.find():
    y=x.get('scores')[0]
    z=x.get('scores')[1]
    s=x.get('scores')[2]
    exam=exam+float(str(y['score']))
    quiz=quiz+float(str(z['score']))
    home=home+float(str(s['score']))
print("Total of Exam={} ,Quiz={} ,Home={}".format(exam,quiz,home))
print("Average of Exam={} ,Quiz={} ,Home={}".format(exam/j,quiz/j,home/j))

Jessika Dagenais 1st Rank
Average= 166.07385971985642
Average Students List ['Corliss Zuk', 'Bao Ziglar', 'Wilburn Spiess', 'Jenette Flanders', 'Daphne Zheng', 'Alix Sherrill', 'Tambra Mercure', 'Dodie Staller', 'Gisela Levin', 'Jesusa Rickenbacker', 'Rudolph Domingo', 'Jonie Raby', 'Edgar Sarkis', 'Laureen Salomone', 'Gwyneth Garling', 'Kaila Deibler', 'Tandra Meadows', 'Sadie Jernigan', 'Carli Belvins', 'Synthia Labelle', 'Mariette Batdorf', 'Ernestine Macfarland', 'Houston Valenti', 'Terica Brugger', 'Lady Lefevers', 'Kurtis Jiles', 'Malisa Jeanes', 'Danika Loeffler', 'Chad Rahe', 'Joaquina Arbuckle', 'Vinnie Auerbach', 'Vina Matsunaga', 'Rubie Winton', 'Kim Xu', 'Devorah Smartt', 'Adrien Renda', 'Len Treiber', 'Tonisha Games', 'Brain Lachapelle', 'Toshiko Sabella', 'Cassi Heal', 'Ta Sikorski', 'Lucinda Vanderburg', 'Darby Wass', 'Omar Bowdoin', 'Milan Mcgavock', 'Demarcus Audette', 'Tania Hulett', 'Karry Petrarca', 'Beckie Millington', 'Flora Duell', '', 'aimee Zank', 'Aurelia Menendez', 'Bao Ziglar', 'Jenette Flanders', 'Salena Olmos', 'Sanda Ryba', 'Denisha Cast', 'Marcus Blohm', 'Alix Sherrill', 'Fletcher Mcconnell', 'Verdell Sowinski', 'Gisela Levin', 'Rosana Vales', 'Tamika Schildgen', 'Jesusa Rickenbacker', 'Rudolph Domingo', 'Jonie Raby', 'Laureen Salomone', 'Gwyneth Garling', 'Tandra Meadows', 'Sadie Jernigan', 'Synthia Labelle', 'Eugene Magdaleno', 'Richelle Siemers', 'Rachell Aman', 'Kayce Kenyon', 'Ernestine Macfarland', 'Houston Valenti', 'Barbera Lippman', 'Dinah Sauve', 'Alica Pasley', 'Elizabet Kleine', 'Joel Rueter', 'Vinnie Auerbach', 'Grady Zemke', 'Vina Matsunaga', 'Kim Xu', 'Merissa Mann', 'Kam Senters', 'Leonida Lafond', 'Devorah Smartt', 'Mariela Sherer', 'Echo Pippins', 'Linnie Weigel', 'Santiago Dollins', 'Tonisha Games', 'Timothy Harrod', 'Rae Kohout']
Passmark= 120.0
PASS
PASS
PASS
PASS
PASS
PASS
PASS
FAIL
PASS
PASS
Total of Exam=9733.270972163651 ,Quiz=9787.561905760933 ,Home=13527.865206326858
Average of Exam=48.910909407857545 ,Quiz=49.18372816965293 ,Home=67.97922214234602

In [221]:
# 5.Create a new collection which consists of students who scored below average and above 40% in all the categories
import pymongo
from pymongo import MongoClient
client = pymongo.MongoClient("mongodb+srv://alfred:1234@cluster0.ydwyn.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.Student 
collist = db.list_collection_names()
if "Newmarksheet" in collist:
  print("The collection already exists.")
else:
  table1 = db.create_collection("Newmarksheet")
for x in table.find():
  y=x.get('scores')[0]
  z=x.get('scores')[1]
  s=x.get('scores')[2]
  total=float(str(y['score']))+float(str(z['score']))+float(str(s['score']))
  if total<average and total>passmark:
    query={
        "_id":x.get("_id"),
        "name":x.get("name"),
        "Result":x.get("Result"),
        "scores":x.get('scores')
        }
    table1.insert_one(query)

for x in table1.find().limit(10):
  print(x)

The collection already exists.
{'_id': 2, 'name': 'Corliss Zuk', 'Result': 'PASS', 'scores': [{'score': 67.03077096065002, 'type': 'exam'}, {'score': 6.301851677835235, 'type': 'quiz'}, {'score': 66.28344683278382, 'type': 'homework'}]}
{'_id': 3, 'name': 'Bao Ziglar', 'Result': 'PASS', 'scores': [{'score': 71.64343899778332, 'type': 'exam'}, {'score': 24.80221293650313, 'type': 'quiz'}, {'score': 42.26147058804812, 'type': 'homework'}]}
{'_id': 5, 'name': 'Wilburn Spiess', 'Result': 'PASS', 'scores': [{'score': 44.87186330181261, 'type': 'exam'}, {'score': 25.72395114668016, 'type': 'quiz'}, {'score': 63.42288310628662, 'type': 'homework'}]}
{'_id': 6, 'name': 'Jenette Flanders', 'Result': 'PASS', 'scores': [{'score': 37.32285459166097, 'type': 'exam'}, {'score': 28.32634976913737, 'type': 'quiz'}, {'score': 81.57115318686338, 'type': 'homework'}]}
{'_id': 16, 'name': 'Dodie Staller', 'Result': 'PASS', 'scores': [{'score': 7.772386442858281, 'type': 'exam'}, {'score': 31.84300235104542, 'type': 'quiz'}, {'score': 80.52136407989194, 'type': 'homework'}]}
{'_id': 19, 'name': 'Gisela Levin', 'Result': 'PASS', 'scores': [{'score': 44.51211101958831, 'type': 'exam'}, {'score': 0.6578497966368002, 'type': 'quiz'}, {'score': 93.36341655949683, 'type': 'homework'}]}
{'_id': 24, 'name': 'Jesusa Rickenbacker', 'Result': 'PASS', 'scores': [{'score': 86.0319702155683, 'type': 'exam'}, {'score': 1.967495200433389, 'type': 'quiz'}, {'score': 61.10861071547914, 'type': 'homework'}]}
{'_id': 25, 'name': 'Rudolph Domingo', 'Result': 'PASS', 'scores': [{'score': 74.75289335591543, 'type': 'exam'}, {'score': 38.5413647805495, 'type': 'quiz'}, {'score': 35.2554340953413, 'type': 'homework'}]}
{'_id': 26, 'name': 'Jonie Raby', 'Result': 'PASS', 'scores': [{'score': 19.17861192576963, 'type': 'exam'}, {'score': 76.3890359749654, 'type': 'quiz'}, {'score': 44.39605672647002, 'type': 'homework'}]}
{'_id': 29, 'name': 'Gwyneth Garling', 'Result': 'PASS', 'scores': [{'score': 48.36644963899371, 'type': 'exam'}, {'score': 10.37827022865908, 'type': 'quiz'}, {'score': 93.26639335532833, 'type': 'homework'}]}

In [223]:
# 6.new collection which consists of students who scored below the fail mark in all the categories.
collist = db.list_collection_names()
if "Failedstudents" in collist:
  print("The collection already exists.")
else:
  table1 = db.create_collection("Failedstudents")
for x in table.find():
  y=x.get('scores')[0]
  z=x.get('scores')[1]
  s=x.get('scores')[2]
  total=float(str(y['score']))+float(str(z['score']))+float(str(s['score']))
  if total<passmark:
    query={
        "_id":x.get("_id"),
        "name":x.get("name"),
        "Result":x.get("Result"),
        "scores":x.get('scores')
        }
    table1.insert_one(query)
for x in table1.find().limit(10):
  print(x)

{'_id': 8, 'name': 'Daphne Zheng', 'Result': 'FAIL', 'scores': [{'score': 22.13583712862635, 'type': 'exam'}, {'score': 14.63969941335069, 'type': 'quiz'}, {'score': 75.94123677556644, 'type': 'homework'}]}
{'_id': 14, 'name': 'Alix Sherrill', 'Result': 'FAIL', 'scores': [{'score': 25.15924151998215, 'type': 'exam'}, {'score': 68.64484047692098, 'type': 'quiz'}, {'score': 24.68462152686763, 'type': 'homework'}]}
{'_id': 15, 'name': 'Tambra Mercure', 'Result': 'FAIL', 'scores': [{'score': 69.1565022533158, 'type': 'exam'}, {'score': 3.311794422000724, 'type': 'quiz'}, {'score': 45.03178973642521, 'type': 'homework'}]}
{'_id': 27, 'name': 'Edgar Sarkis', 'Result': 'FAIL', 'scores': [{'score': 8.606983261043888, 'type': 'exam'}, {'score': 58.71180464203724, 'type': 'quiz'}, {'score': 15.33726210596508, 'type': 'homework'}]}
{'_id': 28, 'name': 'Laureen Salomone', 'Result': 'FAIL', 'scores': [{'score': 3.677565278992456, 'type': 'exam'}, {'score': 7.119462599229987, 'type': 'quiz'}, {'score': 82.87308922617427, 'type': 'homework'}]}
{'_id': 44, 'name': 'Houston Valenti', 'Result': 'FAIL', 'scores': [{'score': 98.06441387027331, 'type': 'exam'}, {'score': 0.8760893342659504, 'type': 'quiz'}, {'score': 15.2177618920215, 'type': 'homework'}]}
{'_id': 45, 'name': 'Terica Brugger', 'Result': 'FAIL', 'scores': [{'score': 42.1011312120801, 'type': 'exam'}, {'score': 41.73654145887228, 'type': 'quiz'}, {'score': 18.91287189072117, 'type': 'homework'}]}
{'_id': 56, 'name': 'Danika Loeffler', 'Result': 'FAIL', 'scores': [{'score': 21.54531707142236, 'type': 'exam'}, {'score': 41.75962115078149, 'type': 'quiz'}, {'score': 55.70195462204016, 'type': 'homework'}]}
{'_id': 63, 'name': 'Rubie Winton', 'Result': 'FAIL', 'scores': [{'score': 7.176062073558509, 'type': 'exam'}, {'score': 46.32426882511162, 'type': 'quiz'}, {'score': 19.24312817599633, 'type': 'homework'}]}
{'_id': 66, 'name': 'Kim Xu', 'Result': 'FAIL', 'scores': [{'score': 19.96531774799065, 'type': 'exam'}, {'score': 17.52966217224916, 'type': 'quiz'}, {'score': 57.32983091095816, 'type': 'homework'}]}

In [224]:
#7.Create a new collection which consists of students who scored above pass mark in all the categories
collist = db.list_collection_names()
if "Passedstudents" in collist:
  print("The collection already exists.")
else:
  table1 = db.create_collection("Passedstudents")
for x in table.find():
  y=x.get('scores')[0]
  z=x.get('scores')[1]
  s=x.get('scores')[2]
  total=float(str(y['score']))+float(str(z['score']))+float(str(s['score']))
  if total>passmark:
    query={
        "_id":x.get("_id"),
        "name":x.get("name"),
        "Result":x.get("Result"),
        "scores":x.get('scores')
        }
    table1.insert_one(query)
for x in table1.find().limit(10):
  print(x)

{'_id': 1, 'name': 'Aurelia Menendez', 'Result': 'PASS', 'scores': [{'score': 60.06045071030959, 'type': 'exam'}, {'score': 52.79790691903873, 'type': 'quiz'}, {'score': 71.76133439165544, 'type': 'homework'}]}
{'_id': 2, 'name': 'Corliss Zuk', 'Result': 'PASS', 'scores': [{'score': 67.03077096065002, 'type': 'exam'}, {'score': 6.301851677835235, 'type': 'quiz'}, {'score': 66.28344683278382, 'type': 'homework'}]}
{'_id': 3, 'name': 'Bao Ziglar', 'Result': 'PASS', 'scores': [{'score': 71.64343899778332, 'type': 'exam'}, {'score': 24.80221293650313, 'type': 'quiz'}, {'score': 42.26147058804812, 'type': 'homework'}]}
{'_id': 4, 'name': 'Zachary Langlais', 'Result': 'PASS', 'scores': [{'score': 78.68385091304332, 'type': 'exam'}, {'score': 90.2963101368042, 'type': 'quiz'}, {'score': 34.41620148042529, 'type': 'homework'}]}
{'_id': 5, 'name': 'Wilburn Spiess', 'Result': 'PASS', 'scores': [{'score': 44.87186330181261, 'type': 'exam'}, {'score': 25.72395114668016, 'type': 'quiz'}, {'score': 63.42288310628662, 'type': 'homework'}]}
{'_id': 6, 'name': 'Jenette Flanders', 'Result': 'PASS', 'scores': [{'score': 37.32285459166097, 'type': 'exam'}, {'score': 28.32634976913737, 'type': 'quiz'}, {'score': 81.57115318686338, 'type': 'homework'}]}
{'_id': 7, 'name': 'Salena Olmos', 'Result': 'PASS', 'scores': [{'score': 90.37826509157176, 'type': 'exam'}, {'score': 42.48780666956811, 'type': 'quiz'}, {'score': 96.52986171633331, 'type': 'homework'}]}
{'_id': 9, 'name': 'Sanda Ryba', 'Result': 'PASS', 'scores': [{'score': 97.00509953654694, 'type': 'exam'}, {'score': 97.80449632538915, 'type': 'quiz'}, {'score': 25.27368532432955, 'type': 'homework'}]}
{'_id': 10, 'name': 'Denisha Cast', 'Result': 'PASS', 'scores': [{'score': 45.61876862259409, 'type': 'exam'}, {'score': 98.35723209418343, 'type': 'quiz'}, {'score': 55.90835657173456, 'type': 'homework'}]}
{'_id': 11, 'name': 'Marcus Blohm', 'Result': 'PASS', 'scores': [{'score': 78.42617835651868, 'type': 'exam'}, {'score': 82.58372817930675, 'type': 'quiz'}, {'score': 87.49924733328717, 'type': 'homework'}]}